# Docker ignore for optimized builds
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/node_modules
**/npm-debug.log
**/coverage
**/.coverage
**/.pytest_cache
**/outputs
**/multirun
**/.hydra
**/wandb
**/logs
**/.env
**/.venv
**/venv
**/env
**/.DS_Store
**/*.swp
**/*.swo
*~
**/.idea
**/.vscode
